body{
    background-image: url(apple.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    padding: 15px;
    align-content: center;
    text-align:center;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px) saturate(150%);
    display: inline-block;
    border-radius: 12px;
}
h3{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    padding: 15px;
    align-content: center;
    text-align:center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px) saturate(150%);
    display: inline-block;
    border-radius: 12px;
}
h4{
    background-color:white;
    padding: 15px;
    align-content: center;
    text-align:center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px) saturate(150%);
    display: inline-block;
    border-radius: 12px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    padding: 15px;
    align-items: center;
    text-align:center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px) saturate(150%);
    display: inline-block;
    border-radius: 12px;
}
br{
    width: 20;
}
table
{
    width: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    padding: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(200%);
    display:inline-flex;
    border-radius: 12px;
}
td{
    color:aliceblue
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    padding: 15px;
    text-align:center;
 }

 .nav_menu
  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0 ,0, 0, 0.2);
    border-radius: 12px;
    margin: 10px auto;
    max-width: 90%;
}
 .nav_menu a {
 color: #e0f7ff;
 text-decoration: none;
 margin: 0 15px;
 font-weight: 600;
 transition: 0.3s;
 }
   a:hover {
background-color: #ffffff; 
text-shadow: 0 0 10px rgba(96, 116, 116, 0.6);
 }

 .footer {
    color:aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.302);
    box-shadow: 0 10px 30px rgba(0 ,0, 0, 0.2);
    border-radius: 12px;
    padding: 15px;
    text-align:center;
 }
 .glow_link{
    color: #e0f7ff;
    background: rgba(255, 255, 255, 0.179);
    text-decoration: none;
    padding: 6px 14px;
    transition: 0.3s;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
 }
 .glow_link:hover{
    color: #ffffff;
    text-shadow: 0 0 12px rgba(100, 141, 141, 0.8), 0 0 20px rgba(100, 141, 141, 0.8);
    background: rgba(100, 141, 141, 0.8);
 }
 .glow_link::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    border-radius: 12px;
    backdrop-filter: blur(10px) saturate(150%);
    background: linear-gradient(90deg, blur(10px, #ffffff4d), transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
 }
 .glow_link:hover::after{
    opacity: 1;
 }